<div class="row">
  <div class="col-12 text-center" class="burger-header">
    <h1>EAT DA BURGER!</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-6">
      <h3>Available</h3>
      <ul>
        {{#each burgers}}
          {{#unless devoured}}
            {{> burgers/burger-block devoured=true}}
          {{/unless}}
        {{/each}}
      </ul>
    </div>

    <div class="col-6">
      <h3>Devoured</h3>
      <ul id="devoured-list">
        {{#each burgers}}
          {{#if devoured}}
            {{> burgers/burger-block devoured=false}}
          {{/if}}
        {{/each}}
      </ul>
    </div>

</div>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="burger_name">
  </div>

  <div class="form-group">
    <label for="devoured"></label>
    <input type="radio" name="devoured" value="0" checked>New Burger<br>
    <input type="radio" name="devoured" value="1">Already Devoured
  </div>

  <button type="submit">Add Burger</button>
</form>
